<div class="box-sign-in-container">
  <h1>Formulario de registro</h1>
  <div class="box-form">
    <div class="box-input-name">
      <input type="text" placeholder="Nombre" [(ngModel)]="userCreate.name_user"/>
    </div>
    <div class="box-input-email">
      <input type="text" placeholder="Email" [(ngModel)]="userCreate.email_user"/>
    </div>
    <div class="box-input-password">
      <input type="text" placeholder="Password" [(ngModel)]="userCreate.password_user"/>
    </div>
  </div>
  <button class="btn-create-account" (click)="registerUser()">Crear cuenta</button>
  <div class="box-redirect-log-in">
    <p>
      ¿Ya tienes una cuenta?<span><button (click)="emitFlag()">Iniciar Sesión</button></span>
    </p>
  </div>
</div>
