<div class="box-sign-in-container">
  <h1>Formulario de registro</h1>
  <div class="box-form">
    <div class="box-input-name">
      <input type="text" placeholder="Nombre" />
    </div>
    <div class="box-input-email">
      <input type="text" placeholder="Email" />
    </div>
    <div class="box-input-password">
      <input type="text" placeholder="Password" />
    </div>
  </div>
  <button class="btn-create-account">Crear cuenta</button>
  <div class="box-redirect-log-in">
    <p>
      ¿Ya tienes una cuenta?<span><a href="">Iniciar Sesión</a></span>
    </p>
  </div>
</div>
